<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		ISHAQUE COACHING CLASSES
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Social Sharing -->
	<meta property="og:site_name" content="http://localhost:8080/" />
	<meta property="og:title" content="Ishaque Coaching Classes in the suburbs of Mumbai." />
	<meta property="og:description"
		content="The bright performances of Ishaque Coaching Classes’ students year after year have been the driving force behind its success." />
	<meta property="og:image" content="http://localhost:8080/images/log.jpg">
	<meta property="og:url" content="http://localhost:8080/">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<link th:href="@{/favicon.ico}" type="images/log.png" rel="icon" />
	<link th:href="@{/favicon.ico}" type="images/log.png" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script> var base_url = 'http://localhost:8080/';</script>
	<script>
		// jQuery to collapse the navbar on scroll

		function collapseNavbar() {

			if ($(".navbar").offset().top > 50) {

				$(".navbar-fixed-top").addClass("top-nav-collapse");

			} else {

				$(".navbar-fixed-top").removeClass("top-nav-collapse");

			}

		}

		$(window).scroll(collapseNavbar);

		$(document).ready(collapseNavbar);

	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153108470-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {dataLayer.push(arguments);}

		gtag('js', new Date());



		gtag('config', 'UA-153108470-1');

	</script>
</head>