<div class="clearfix">
	<strong class="streight-line-text">Module 1: Introduction to Java</strong>

	<ul>
		<li>Introduction to computer languages?</li>
		<li>Need of computer languages</li>
		<li>Java&nbsp; V/S other languagesPlatform dependencies?</li>
		<li>Introduction to Java?</li>
		<li>History of JavaJDK software includes…</li>
		<li>Platform Independency?</li>
		<li>Structure of Java-application?</li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">Introduction to Variable, Blocks and
		Methods?</strong>

	<ul>
		<li>Introduction to variables and identifiers</li>
		<li>Type of variables</li>
		<li>Memory construction and destruction of variables</li>
		<li>Rules to create variables</li>
		<li>Naming conventions of variables</li>
		<li>Blocks introduction</li>
		<li>Methods introduction.</li>
		<li></li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">Data types</strong>

	<ul>
		<li>Primitive types</li>
		<li>Reference types</li>
	</ul>
	<p><strong>Operators</strong></p>
	<p><strong>Control Statements</strong></p>

</div>
<div class="clearfix">
	<strong class="streight-line-text">Methods</strong>

	<ul>
		<li>Introduction</li>
		<li>Need</li>
		<li>Classification of functions</li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">First java application?</strong>

	<ul>
		<li>Class keyword and its naming convention</li>
		<li>Class naming convention</li>
		<li>Why main has public access</li>
		<li>Why main has static modifier</li>
		<li>Why return type is void</li>
		<li>System.out.println() description</li>
		<li>Naming convention of methods and packages.</li>
		<li>Overloading main method</li>
		<li></li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">Class members in java<< /strong>
			<ul>
				<li>Static members(class level)</li>
				<li>Non-static members(object level)</li>
			</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">Wrapper classes<< /strong>
			<ul>
				<li>Introduction</li>
				<li>Why wrapping</li>
				<li>Boxing and Unboxing</li>
				<li>Auto Boxing and Auto Unboxing</li>
				<li>Primitive to String conversion (using valueOf()and toString() methods)</li>
				<li>String to Primitive conversion (using valueOf() and xxxValue() methods)</li>
				<li></li>
			</ul>

</div>
<div class="clearfix">
	<strong class="streight-line-text">Access Modifiers Introduction</strong>

	<ul>
		<li>Usage of access modifiers in packages</li>
	</ul>

</div>
<div class="clearfix">
	<strong class="streight-line-text">Packages</strong>
	<ul>
		<li>Introduction</li>
		<li>How to create user defined package</li>
		<li>Calling members of same package</li>
		<li>Calling members of another package</li>
		<li>Need of&nbsp; import statement</li>
		<li>Need of fully qualified name</li>
		<li>Difference between import and include</li>
		<li>Creating Sub packages</li>
		<li>Importing sub packages</li>
		<li></li>
	</ul>

</div>
<div class="clearfix">
	<strong class="streight-line-text">Command Line Argument</strong>

	<ul>
		<li>Introduction</li>
		<li>Advantage and disadvantages</li>
		<li>parseXxx methods</li>
		<li>Scanner class</li>
		<li>Random class</li>
		<li></li>
	</ul>

</div>
</div>
</div>
</div>
</div>

<div class="clearfix">
	<strong class="streight-line-text">OOPS</strong>
	<ul>
		<li>Introduction to OOPS</li>
		<li>Introduction to class, object</li>
		<li>Encapsulation, Abstraction</li>
		<li>Inheritance</li>
		<li>final keyword</li>
		<li>Polymorphism</li>
		<li>Abstract classes</li>
		<li>Interfaces</li>
		<li>Aggregation</li>
		<li>Association</li>
		<li>Composition</li>
		<li>Singleton class</li>
		<li>Factory class.</li>
		<li></li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">String</strong>
	<ul>
		<li>Introduction to Strings</li>
		<li>Creating objects to String</li>
		<li>String library functions</li>
		<li>Mutable objects</li>
		<li>Immutable objects</li>
		<li>String/StringBuffer/StringReader</li>
		<li>Creating Immutable class</li>
		<li></li>
	</ul>

</div>

<div class="clearfix">
	<strong class="streight-line-text">Collections</strong>
	<ul>
		<li>Introduction to collections</li>
		<li>Introduction to generics</li>
		<li>Difference between arrays and Collections</li>
		<li>Collection interfaces</li>
		<li>List Interface</li>
		<li>Set Interface</li>
		<li>Map Interface</li>
		<li>Queue Interface</li>
		<li>Time management over collection classes</li>
		<li>Memory management over collection classes</li>
		<li>Deleting duplicate objects from collections</li>
		<li>equals() method</li>
		<li>Iterator class</li>
		<li>Enumeration class</li>
		<li>for-each loop</li>
		<li>influence of generics in collections</li>
		<li></li>
	</ul>


</div>

<div class="clearfix">
	<strong class="streight-line-text">Multi Threading</strong>
	<h4 class="card-title m-0"><a class="accordion-toggle" data-toggle="collapse" href="#collapse396389509"><i
				class="Simple-Line-Icons-cursor"></i>Multi Threading</a></h4>
	<ul>
		<li>Introduction to multi tasking and multi threading</li>
		<li>Drawbacks in multi tasking</li>
		<li>Creation of Thread</li>
		<li>Life cycle of Thread</li>
		<li>Threads Using Thread class</li>
		<li>Threads Using Runnable interfaces</li>
		<li>Constructors of Thread class.</li>
		<li>Time management in multi tasking and multi threading</li>
		<li>Priorities of threads.</li>
		<li>Naming to threads via constructors or via setters.</li>
		<li>Synchronization</li>
		<li>sleep(),join(), wait(), notify(), notifyAll(),</li>
		<li></li>
	</ul>


</div>
<div class="clearfix">
	<strong class="streight-line-text">Garbage Collection</strong>

	<ul>
		<li>Introduction GC</li>
		<li>Introduction to daemon threads</li>
		<li>Drawbacks of</li>
		<li>finalize()</li>
		<li>gc()</li>
		<li>gc()</li>
		<li>exec();</li>
		<li>JVM memory increment</li>
		<li>Process class.</li>
		<li></li>
	</ul>


</div>
<div class="clearfix">
	<strong class="streight-line-text">IO Streams</strong>
	<ul>
		<li>Byte streams</li>
		<li>Character streams</li>
		<li>Object streams (Serialization)</li>
		<li>Why serialization</li>
		<li>Transient keyword</li>
		<li>What is persistent state of an object</li>
		<li>Marker interface</li>
		<li>Can we serialize subclass object if super class is not Serializable</li>
		<li>Can we serialize an object contains reference to non-Serializable object</li>
		<li>Byte array streams</li>
		<li>Data input streams</li>
		<li>Buffered streams</li>
		<li>Working with files</li>
	</ul>


</div>