<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<include th:insert="fragments/include" />

<body>

	<header th:insert="fragments/header" />
	
	
	<!-- Slider Section Start -->
	<div class="slider">
		<div class="all-slide owl-item">
			<div class="single-slide slide_1" th:style="'background-image:url(/images/slide1.jpeg);'">
				<div class="slider-overlay"></div>
				<div class="slider-text container text-right">
					<div class="slider-caption">
						<h1> Take the first step </h1>
						<h2> to knowledge with us </h2>
						<p> The purpose of education is to turn mirrors into windows. </p>
					</div>
				</div>
			</div>
			<div class="single-slide slide_2" th:style="'background-image:url(/images/slide2.jpeg);'">
				<div class="slider-overlay"></div>
				<div class="slider-text container text-left">
					<div class="slider-caption">
						<h1> Better Education </h1>
						<h2> For a Better World </h2>
						<p> We Believe there is nothing more important than Education. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="about_text">
			<div class="container">
				<div id="counter">
					<div class="row text-center">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="thumb">
								<!-- <div class="counter-value" data-count="10000">0</div> 
                              <div class="counter" data-count="10000">0</div> -->
								<h4> Online Training </h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="thumb">
								<!-- <div class="counter-value" data-count="12">0</div> 
                              <div class="counter" data-count="6">0</div>-->
								<h4> Class Room Training </h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="thumb">
								<!-- <div class="counter-value" data-count="200">0</div> 
                              <div class="counter" data-count="200">0</div>-->
								<h4> Mock Interviews </h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="thumb">
								<!-- <div class="counter-value" data-count="3500">0</div> 
                              <div class="counter" data-count="3500">0</div>-->
								<h4> Weekend Work shops</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="home">
		<div class="container">
			<!--
               <div class="row">
               
               <div class="col-md-12 text-center">
               
               <img src="images/learning.jpg" class="img-fluid d-block mx-auto" />
               
               <h3 class="text-uppercase"> We Offer Students for <span class="purple"> better Learning </span> </h3>
               
               </div> 
               
               </div>
               
               -->
			<div class="row tag">
				<div class="col-lg-4 col-md-4">
					<h4> Ishaque Coaching Classes for <span>DevOPS, JAVA & Kafka</span> happening in
						<strong><span>Parbhani </span></strong>
					</h4>
				</div>
				<div class="col-lg-8 col-md-8">
					<p> <span style="font-size:24px; color: #a82682; ">Mohammed Ishaque : </span>Having 8+ years of Experience in JAVA <br>
						<span style="font-size:24px; color: #a82682; ">Shaikh Ishaque   : </span>Having 6+ years of Experience in DevOps <br>

						<span style="font-size:24px; color: #a82682; ">Junaid Khan      : </span>having 6+ years Experience in KAFKA
					</p>
				</div>
			</div>
			<br />
			<div class="row text-center">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<img src="/images/icon/1.jpg" class="img-fluid mx-auto d-block" alt="" />
					<h3 class="text-uppercase"> Well-Curated Study Material </h3>
					<p> Our experienced faculty strive hard for extensive coverage of all courses in the form of
						lectures, study material and tests to ensure that students cover everything.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<img src="/images/icon/2.jpg" class="img-fluid mx-auto d-block" alt="" />
					<h3 class="text-uppercase"> Experienced Faculty </h3>
					<p> Our faculty add experience and value to student’s learning constantly with advanced teaching
						techniques and quick doubt clarification.
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<img src="/images/icon/4.jpg" class="img-fluid mx-auto d-block" alt="" />
					<h3 class="text-uppercase"> Tests &amp; Assessment </h3>
					<p> Our topic-wise tests, major-tests and rigourous feedback mechanism help the students to know
						their level of understanding
					</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
					<img src="/images/icon/3.jpg" class="img-fluid mx-auto d-block" alt="" />
					<h3 class="text-uppercase"> Network of Success </h3>
					<p> Strongly networked community of successful students; Ex-students help our students build
						connections and offer career guidance.
					</p>
				</div>
			</div>
			<br /> <br /> <br /> <br />
		</div>
	</section>
	<section class="features-section" style="background-image:url(images/courses_offered.jpg);"
		data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2> Courses <span class=""> Offered </span> </h2>
				</div>
			</div>
			<br />
			<div class="row text-center">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="item partner">
						<div class="img_box">
							<img src="/images/ssc.jpg" class="img-fluid mx-auto d-block" alt="" />
						</div>
						<h6>DevOps</h6>
						<p> <strong> New Batch Starting from 15th October</strong> Sunday to Sunday and Holidays 3
							to 4 hrs.
						</p>
						<div class="link-btn">
							<a href="courses/devOps">read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="item partner">
						<div class="img_box">
							<img src="/images/ssc.jpg" class="img-fluid mx-auto d-block" alt="" />
						</div>
						<h6> JAVA </h6>
						<p> <strong> New Batch Starting from 15th October</strong> Sunday to Sunday and Holidays 3
							to 4 hrs.
						</p>
						<div class="link-btn">
							<a href="/courses/java">read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="item partner">
						<div class="img_box">
							<img src="/images/ssc.jpg" class="img-fluid mx-auto d-block" alt="" />
						</div>
						<h6> KAFKA </h6>
						<p> <strong> New Batch Starting from 15th October</strong> Sunday to Sunday and Holidays 3
							to 4 hrs.
						</p>
						<div class="link-btn">
							<a href="courses/science">read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
<header th:insert="fragments/footer" />
	
</body>

</html>

